@import "tailwindcss";

html,
body,
#root {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  overscroll-behavior: none;
}

@theme {
  --animate-bounce-slow: bounce-slow 3s ease-in-out infinite;
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animation-delay-1000 {
  animation-delay: 1s;
}
